@import "variables";

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

input, textarea, select{
    background-color: white;
    outline: none;
}


body {
    color: $main-font-colour;
    text-align: center;
    backface-visibility: hidden;
    
}

.header-intro {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    margin-bottom: 0;
}

h1 {
    margin: 0;
}


span {
    display: flex;
    flex-wrap: wrap;
    color: #1687a7;
    font-family: 'Martel', serif;
    text-shadow: 0 0 0 whitesmoke;
    animation: smoky 2s 1s both;
    
  }
  
  span:nth-child(even){
    animation-name: smoky-mirror;
  }
  
  @keyframes smoky {
   from {
      text-shadow: 10px 10px 80px whitesmoke;
      transform:
        translate3d(-15rem,-8rem,0)
        rotate(-40deg)
        skewX(70deg)
        scale(6);
        text-shadow: 10px 10px 80px whitesmoke;
        opacity: 0;
    }
    to {
      transform:
        translate3d(0,0,0)
        rotate(0deg)
        skewX(0deg)
        scale(1);
      text-shadow: 0 0 0;
      opacity: 1;
    }
  }
  
  @keyframes smoky-mirror {
    from {
      text-shadow: 0 0 180px whitesmoke; 
      transform:
        translate3d(18rem,-8rem,0)
        rotate(-40deg) 
        skewX(-70deg)
        scale(4);
        text-shadow: 0 0 180px whitesmoke;
      opacity: 0;
      }
    to {
      transform:
        translate3d(0,0,0)
        rotate(0) 
        skewX(0)
        scale(1);
       text-shadow: 0 0 0 ;
      opacity: 1;
    }
  }
  
  @for $item from 1 through 8 {
    span:nth-of-type(#{$item}){ 
      animation-delay: #{(1 + ($item/10))}s; 
    }
  } 


h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    width: 100%;
 
}



/* The animation for the intro paragraph */
@keyframes introP {
    from {color: black;}
    to {color: #7f8378;}  }
  

header p {
    color: black;
    font-size: 1.4em;
    animation-name: introP;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    width: 100%;
}

@keyframes showDownArrow {
    from {
        display: 'none';
        opacity: 0;
    }
    to {
     
    }
}

.scroll-container {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 20px;
}

.test {
    width: 100%;
        height: 100%;            
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;  /* for demo purpose  */
    }

@keyframes showArrow {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

// This covers the down arrow, but slowly displays it
.coverArrow {
    background-color: black;
    z-index: 9;
    margin: 20px; /* for demo purpose  */
    animation-name: showArrow;
    animation-duration: 5s;
    animation-direction: forward;
}

@keyframes arrowPulse {
    from {
        transform: scale(1)
    } 50% {
        transform: scale(1.2);
    } to {
        transform: scale(1);
    }
}

// The down arrow on the initial screen
.down-btn-scroll {
         
    position: absolute;
    top: 0;
    left: 0;
    display: 'inline-block';
    opacity: 1;
    width: 49px;
height: 49px;
bottom: 25%;
left: 0;
right: 0;
margin: auto;
padding-top: 50px;
z-index: 9;
border-radius: 50%;
-webkit-transition: background-color 4s ease-in-out;
transition: background-color 4s ease-in-out;
animation-name: arrowPulse;
animation-duration: 2s;
animation-delay: 5s;
animation-iteration-count: infinite;

}




#main-section {
    height: 100vh;

}

.card {
    display: flex;
    flex-wrap: wrap;
    background-color: lightblue;
    border-radius: 5px;
    font-size: 1.4em;
    // width: 50%;
}