@import "mixins";
@import "variables";

img {
    @include size($width: 90%);
    @include borderRadius();
    
}

.profileImage {
    @include size($width: 200px, $height: 200px);
    @include borderRadius($radius:50%);
   filter: grayscale(100%);
    border: 5px solid $smoke-shadow;
}

.tech-skill-item img {
    @include size($width:15%);
}

.card-image {
    @include size($width: 200px, $height:200px);
    padding-bottom: 10px;
}

.card-image img {
    @include size ();
}

