@import "mixins";

img {
    width: 90%;
    height: auto;
    border-radius: 5px;
}

.profileImage {
    @include size($width: 200px, $height: 200px);
    border-radius: 50%;
    filter: grayscale(100%);
}